
.nav-pills > li > a.active {
    background-color: #ffffff !important;
    color: black !important;

}
.nav-pills > li > a{
    transition: background .1s linear;
}
.nav-pills > li > a:hover{
    background: floralwhite;
    color: black;
}
.nav-pills > li > a{
    color: white;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{ background-color: white;
color: black}



li {
    margin: 7px;
}
.display-4{

    animation-duration: 2s;
    animation-name: slidein;
}
.search
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#searcher{
    width: 500px;
}
@keyframes slidein {
    from {

        width: 300%;
    }

    to {
        margin-left: 73.5%;
        width: 100%;
    }
}
.searchInp{
    animation-duration: 1.5s;
    animation-name: slideine;
}
@keyframes slideine {
    from {

width: 0px;
    }

    to {

        width: 500px;
    }
}
.ff{
    font-size: 26px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
margin-right: 20px;
    color: white;
}
.ff:hover{
margin-bottom: 5px;
}
@media (max-width: 600px) {
    .media {
        width: 200px;

    }

    .display-4 {

        animation-duration: 2s;
        animation-name: slidein;
    }

    @keyframes slidein {
        from {

            position: relative;
            right: 70%;
        }

        to {
            position: relative;
            right: 0%;
            opacity: 1;
        }
    }
    .searchInp {
        animation-duration: 1s;
        animation-name: slideine;
    }


    @keyframes slideine {
        from {

            width: 0px;
        }

        to {


        }
    }
    #searcher{
        width: 100%;
    }
}
